@import "@fontsource/inter/latin-400.css"; /* font-normal */
@import "@fontsource/inter/latin-500.css"; /* font-medium */
@import "@fontsource/inter/latin-600.css"; /* font-semibold */
@import "@fontsource/inter/latin-700.css"; /* font-bold */
