html {
  background: #0f172a; /* tailwind slate-900 */
  color-scheme: dark;
  /*overflow-x: hidden;*/
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #0e131a;
  background: #7dd3fc; /* tailwind sky-300 */
}

::-moz-selection {
  color: #0e131a;
  background: #7dd3fc; /* tailwind sky-300 */
}
