html {
  background: var(--color-surface);
  color-scheme: dark;
  /*overflow-x: hidden;*/
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #0e131a;
  background: var(--color-accent);
}

::-moz-selection {
  color: #0e131a;
  background: var(--color-accent);
}
